<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <security-role>
    <role-name>employee</role-name>
  </security-role>
  <security-constraint>
    <display-name>SecurityConstraintForResources</display-name>
    <web-resource-collection>
      <web-resource-name>webResourceColection</web-resource-name>
      <url-pattern>/resources/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>SecurityConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>webResourceColection</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>employee</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login.jsp?error=true</form-error-page>
    </form-login-config>
  </login-config>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>pl.lodz.p.idbd.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>returning</servlet-name>
    <servlet-class>pl.lodz.p.idbd.servlets.Returning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>returning</servlet-name>
    <url-pattern>/returning</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reservation</servlet-name>
    <servlet-class>pl.lodz.p.idbd.servlets.Reservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservation</servlet-name>
    <url-pattern>/reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>pl.lodz.p.idbd.servlets.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>pl.lodz.p.idbd.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resources</servlet-name>
    <servlet-class>pl.lodz.p.idbd.servlets.Resources</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/resources/</url-pattern>
  </servlet-mapping>
</web-app>